<ruby>
run_single("setg LPORT #{ENV['LPORT']}") if ENV['LPORT']
if ENV['LHOST']
  lhost = ENV['LHOST']
else
  lhost = %x(hostname -i)
end
run_single("setg LHOST #{lhost}")
run_single("db_connect #{ENV['DATABASE_URL']}") if ENV['DATABASE_URL']

if ENV['RPCPASS']
  rpcpasswd = ENV['RPCPASS']
else
  rpcpasswd = "passwd"
end
if ENV['RPCPORT']
  rpcport = ENV['RPCPORT']
else
  rpcport = "55552"
end
if ENV['SLIVERPASS']
  sliverpasswd = ENV['SLIVERPASS']
else
  sliverpasswd = "passwd"
end
if ENV['SLIVERPORT']
  sliverport = ENV['SLIVERPORT']
else
  sliverport = "55552"
end

run_single("load msgrpc Pass=#{rpcpasswd} ServerPort=#{rpcport} ServerHost=0.0.0.0")
run_single("load msgrpc Pass=#{sliverpasswd} ServerPort=#{sliverport} ServerHost=0.0.0.0")
</ruby>